:root {
  font-size: 1em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;;
}

.App-link {
  color: #61dafb;
}

.tool-button {
  margin: 0 .5em;
}

.tips {
  background-color: yellow;
  padding: 0 1.25em;
  margin: 0.625em 0;
  overflow: hidden;
  height: 0;
}

.tips.show {
  padding: .6em 1.25em;
  height: 30px;
  padding: 0 1.25em;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes example {
  0% {
    height: 0;
    padding: 0em 1.25em;
  }
  50% {
    height: 30px;
    padding: .6em 1.25em;
  }
  100% {
    height: 0;
    padding: 0 1.25em;
  }
}

.itemlist-loading {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
}

.itemlist-loading.show {
  display: flex;
}

.spinner {
  height: 50%;
  max-height: 200px;
  animation: spin infinite 2s linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}